<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--<include resource="org/springframework/boot/logging/logback/base.xml"/> -->



  <appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>

			<pattern>%d{dd-MMM-yyyy HH:mm:ss.SSS}|%X{Slf4jMDCFilter.UUID}|
				[%-5level- %M - %L] %class{5} - %msg%ex{full}%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/%d{dd-MM-yyyy, aux}/info_%d{HH}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp />
				<mdc /> <!-- MDC variables on the Thread will be written as JSON fields -->
				<context /> <!--Outputs entries from logback's context -->
				<version /> <!-- Logstash json format version, the @version field in the output -->
				<logLevel />
				<loggerName />

				<pattern>
					<pattern>
						{
						"serviceName": "part2"
						}
					</pattern>
				</pattern>

				<threadName />
				<message />
				<logstashMarkers />
				<stackTrace />

			</providers>
		</encoder>
	</appender>
	<appender name="ASYNC-FILE-INFO"
		class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>10000</queueSize>
		<appender-ref ref="FILE_INFO" />
		<includeCallerData>true</includeCallerData>
	</appender>


	<springProfile name="local">
		<root level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="ASYNC-FILE-INFO" />
		</root>
	</springProfile>

	<springProfile name="dev">
		<root level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="ASYNC-FILE-INFO" />
		</root>
	</springProfile>


	<springProfile name="stg">
		<root level="info">
			<appender-ref ref="ASYNC-FILE-INFO" />
		</root>
	</springProfile>

	<springProfile name="pro">
		<root level="pro">
			<appender-ref ref="ASYNC-FILE-INFO" />
		</root>
	</springProfile>

</configuration>